languages {
  WDL {
    http-allow-list {
      enabled: true
      allowed-http-hosts: [
      "*",
        "127.0.0.1",
        "127.0.0.1:3000",
        "raw.githubusercontent.com"
      ]
    }
  }
}

database {
  profile = "slick.jdbc.PostgresProfile$"
  db {
    driver = "org.postgresql.Driver"
    url = "jdbc:postgresql://localhost:1701/cromwell"
    user = "lipidong"
    password = "lipidong"
    port = 1701
    connectionTimeout = 5000
  }
}
